.env
nbproject/
vendor/
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitignore
!storage/framework/cache/data/.gitkeep
storage/oauth-private.key
storage/oauth-public.key
!storage/app/public/.gitkeep
storage/app/public/*
.php_cs.cache
.idea/