aside, nav, footer, header, section { display: block }
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #3c3d41;
}
a {
    color: inherit;
}
img {
    border: none;
}
input, textarea, button, select,a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input, textarea, button, select {
    font-family: 'Roboto', sans-serif;
}
input::-webkit-input-placeholder {
    color: inherit;
}
input::-moz-placeholder {
    color: inherit;
}
input:-moz-placeholder {
    color: inherit;
}
input:-ms-input-placeholder {
    color: inherit;
}

textarea::-webkit-input-placeholder {
    color: inherit;
}
textarea::-moz-placeholder {
    color: inherit;
}
textarea:-moz-placeholder {
    color: inherit;
}
textarea:-ms-input-placeholder {
    color: inherit;
}
*:focus {
    outline: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}
.tac {
    text-align: center;
}
.taj {
    text-align: justify;
}
.ttu {
    text-transform: uppercase;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}

#page {
    position: relative;
    overflow: hidden;
    min-height: 500px;
}

#page-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 777;
}

#page-preloader .spinner {
    background: url(../images/preloader.png) no-repeat;
    width: 145px;
    height: 110px;
    background-size: contain;
}


@-webkit-keyframes preloader {
  0% {
    width: 0px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 0px;
  }
}

@keyframes preloader {
  0% {
    width: 0px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 0px;
  }
}

#page-preloader .spinner:after {
    content: "";
    position: absolute;
    height: 98px;
    width: 150px;
    background: url(../images/preloader-s.png) 0 0 no-repeat;
    top: 11px;
    left: -2px;
    /* right: -2px; */
    background-size: 150px auto;
    -webkit-animation: preloader 2.0s ease-in-out infinite;
    -moz-animation: preloader 2.0s ease-in-out infinite;
    -ms-animation: preloader 2.0s ease-in-out infinite;
    -o-animation: preloader 2.0s ease-in-out infinite;
    animation: preloader 2.0s ease-in-out infinite;
}

.fw-container {
    padding: 0 15px;
}

@media (max-width: 768px) {
    .fw-container {
        width: 100%;
    }
}

.content {
    font-size: 1.286em;
    font-weight: 300;
    line-height: 1.667em;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
}

.fw-main-row {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.dark-bg {
    color: #fff;
}

.blockquote {
    position: relative;
    padding: 15px 35px;
    color: #4b5255;
    font-style: italic;
    line-height: 1.714em;
    text-align: justify;
}

.blockquote:after, .blockquote:before {
    content: "";
    width: 8px;
    height: 7px;
    position: absolute;
    background-size: contain !important;
}

.blockquote:before {
    background: url(../images/quote-t.png) no-repeat;
    top: 10px;
    left: 0;
}

.blockquote:after {
    background: url(../images/quote-b.png) no-repeat;
    bottom: 10px;
    right: 0;
}

/*------------------------------------------------------------------
[1.1. Owl Carousel controllers ]
*/

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    color: #fd423f;
    font-size: 25px;
}

.white-arrows .owl-prev,
.white-arrows .owl-next {
    color: #fff;
}

.owl-prev {
    left: 45px;
}

.owl-next {
    right: 45px;
}

.owl-dots {
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}

.owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #f5f5f5;
    margin: 0 2px;
    border-radius: 50%;
}

.owl-dots .owl-dot.active,
.owl-dots .owl-dot:hover {
    background: #fd423f;
}

/*------------------------------------------------------------------
[1.2. Heading ]
*/

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    margin: 0 0 20px;
}

h1,.h1 {
    font-size: 3.429em; /* 14px/48px */
    line-height: 1.3em;
    font-weight: 300;
}
.h1 span.blue-color {
    font-weight: bold;
}
h1.min,
.h1.min {
    font-size: 2.467em;
}

h1.big,
.h1.big {
    font-size: 4.286em; /* 14px/60px */
    line-height: 1em;
    margin: 0 0 15px;
}

h2,.h2 {
    font-size: 2.571em; /* 14px/36px */
    line-height: 1.1em;
    font-weight: bold;
}

h3,.h3 {
    font-size: 2.143em; /* 14px/30px */
    line-height: 1.1em;
    font-weight: bold;
}

h4,.h4 {
    font-size: 1.714em; /* 14px/24px */
    line-height: 1.1em;
    font-weight: bold;
}

h5,.h5 {
    font-size: 1.286em; /* 14px/18px */
    line-height: 1.1em;
    font-weight: bold;
}


h6,.h6 {
    font-size: 1.143em; /* 14px/16px */
    line-height: 1.1em;
    font-weight: bold;
}

.heading-decor {
    text-align: center;
}

.heading-decor:after {
    content: "";
    display: block;
    margin: 10px auto 0;
    background: #fd423f;
    height: 3px;
    width: 10%;
}

.blue-color {
    color: #fd423f;
}

.post-date {
    color: #fd423f;
    font-size: 0.857em;
    margin: 5px 0;
}

/*------------------------------------------------------------------
[1.3 Paddings ]
*/

/*------------------------------------------------------------------
[1.3.1 Padding top ]
*/

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 100px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

/*------------------------------------------------------------------
[1.3.2 Padding bottom  ]
*/

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

/*------------------------------------------------------------------
[1.4 Buttons ]
*/

.button-style1 {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    border: none;
    min-width: 130px;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    background: #fd423f;
    font-weight: 500;
    color: #fff;
    margin: 5px 0;
    padding: 15px 20px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    line-height: normal;
}

.button-style1 + a,
.button-style1 + input,
.button-style1 + button,
.button-style2 + a,
.button-style2 + input,
.button-style2 + button {
    margin-left: 10px;
}

.button-style1 span {}

.button-style1:hover, .button-style1:active, .button-style1:focus {
    background: #3c3d41;
    color: #fff;
    text-decoration: none;
}

.button-style1.dark:hover {
    background: #808688;
}

.button-style1.dark {
    background: #4b5255;
}

.button-style1.min {
    font-size: 12px;
    padding: 10px 10px;
    min-width: inherit;
}

.button-style2 {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    padding: 12px 20px;
    border: 1px solid #fd423f;
    color: #302d2a;
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.button-style2:hover {
    background: #fd423f;
    color: #fff;
}

.button-style2 span {
    display: block;
}

.button-style2.white {
    border-color: #fff;
    color: #fff;
}

.button-style2.white:hover {
    background: #3c3d41;
    border-color: #3c3d41;
}

.button-style2.gray {
    border-color: #706f6f;
    color: #706f6f;
}

.button-style2.gray:hover {
    background: #fd423f;
    border-color: #fd423f;
    color: #fff;
}

.button-style2.min {
    font-size: 11px;
    padding: 7px 15px;
}

.button-style2.big {
    font-size: 18px;
    padding: 11px 20px;
}

/*------------------------------------------------------------------
[1.5 Input style ]
*/

input.style1,textarea.style1,select.style1 {
    border: 1px solid #c8c9ca;
    background: none;
    font-size: 12px;
    color: #9b9c9e;
    line-height: 14px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

input.style1 {
    padding: 12px 10px;
    width: 270px;
}

input.style1.min {
    padding: 9px 10px;
    width: 200px;
}

textarea.style1 {
    padding: 10px 10px;
    width: 100%;
    height: 140px;
    resize: none;
}

select.style1 {
    padding: 12px 50px 12px 10px;
    width: 270px;
    background: url(../images/select.png) top 50% right 15px no-repeat;
}

input[type="checkbox"].style1,
input[type="radio"].style1 {
    display:none;            
}
input[type="checkbox"].style1 + label, 
input[type="radio"].style1 + label {
    background: #f5f5f5;
    box-shadow: inset 1px 1px 1px #d4d4d4;
    margin: 0 5px 0 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input[type="radio"].style1 + label {
    border-radius: 50%;
}
input[type="checkbox"].style1 + label::before,
input[type="radio"].style1 + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 8px;
    width: 8px;
    margin: 5px;
}
input[type="checkbox"].style1 + label::before {
}
input[type="radio"].style1 + label::before {
    border-radius: 50%;
}
input[type="checkbox"].style1:checked + label::before {
    background: #fd423f;
}
input[type="radio"].style1:checked + label::before {
    background: #fd423f;
}
input[type="checkbox"].style1:disabled + label::before {
    background-position: -152px -260px;
}
input[type="checkbox"].style1:checked:disabled + label::before {
    background-position: -171px -260px;
}
input[type="radio"].style1:disabled + label::before {
    background-position: -144px -279px;
}
input[type="radio"].style1:checked:disabled + label::before {
    background-position: -162px -279px;
}

/*------------------------------------------------------------------
[2 Header / .header ]
*/

.header {
    /*min-height: 45px;*/
}

.top-header {
    background: #fbfbfb;
    border-bottom: 1px solid #eeeeee;
    padding: 13px 35px 13px 15px;
    margin-bottom: 70px;
    z-index: 2;
    overflow: hidden;
}

.header-wrap {
    position: absolute;
    top: 0px;
    width: 100%;
    background: #fff;
    z-index: 10;
    box-shadow: inset 0 -1px 0 #eeeeee;
}

.header-wrap.fixed {
    position: fixed;
    top: 0;
    box-shadow: inset 0 -1px 0 #eeeeee;
}

.logo-area {
    padding: 0 0 0 15px;
    float: left;
}

.logo-area a {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}

.logo-area img {
    vertical-align: bottom;
    max-width: 100%;
}

/*------------------------------------------------------------------
[2.1 Navigation / .navigation ]
*/

.navigation {
    /* border-left: 1px solid #dddddd; */
    /* border-right: 1px solid #dddddd; */
    text-transform: uppercase;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: block;
    position: relative;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation > ul {
    text-align: right;
}

.navigation > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 22px;
    text-align: left;
}

.navigation > ul > li > a {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    text-transform: initial;
    font-size: 16px;
}

.navigation > ul > li.current-menu-item {}

.navigation > ul > li.current-menu-item > a,
.navigation > ul > li:hover > a {
    box-shadow: inset 0 -3px 0 0 #fd423f;
}

.navigation .sub-nav {
    position: absolute;
    top: 70px;
    left: -5px;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #dddddd;
    background: #fff;
}

.navigation .sub-nav .sub-nav {
    top: -1px;
    left: 100%;
}

.navigation ul li.menu-item-has-children:hover > .sub-nav {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.navigation .sub-nav .sub-menu {}

.navigation .sub-nav .sub-menu li {
}

.navigation .sub-nav .sub-menu li:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}

.navigation .sub-nav .sub-menu li a {
    height: 35px;
    display: table-cell;
    vertical-align: middle;
    padding: 4px 0;
    width: 150px;
    padding: 3px 15px;
    font-size: 0.857em;
    position: relative;
}

.navigation .sub-nav .sub-menu li.menu-item-has-children > a:after {
    content: '\e843';
    font-family: "icon-font";
    position: absolute;
    color: #dddddd;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.navigation .sub-nav .sub-menu li.current-menu-item > a, 
.navigation .sub-nav .sub-menu li:hover > a {
    background: #fd423f;
    color: #fff;
}

/*------------------------------------------------------------------
[2.2 Search module / .search-module ]
*/

.search-module {
    padding: 23px 15px 0 30px;
}

.search-module form {
    position: relative;
}

.search-module .input {
    padding: 0;
    margin: 0;
    border: none;
    color: #888888;
    font-size: 14px;
    width: 100%;
    line-height: 23px;
    height: 23px;
}

.search-module .submit {
    border: none;
    background: #fff;
    font-size: 19px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.search-module .submit i {}

/*------------------------------------------------------------------
[2.3 Mobile side / .mobile-side ]
*/

.mobile-side {
    position: fixed;
    top: 45px;
    right: -300px;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mobile-side.active {
    right: 0;
}

.mobile-side-button {
    float: right;
    font-size: 37px;
    display: none;
    line-height: 45px;
    padding: 0 10px;
}

.mobile-navigation {
    min-width: 300px;
}

.mobile-navigation ul {
    margin: 0;
    padding: 0;
}

.mobile-navigation ul li {
    display: block;
}

.mobile-navigation ul li a {
    text-decoration: none;
    display: block;
}

.mobile-navigation > ul {}

.mobile-navigation > ul > li {
}

.mobile-navigation > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}

.mobile-navigation > ul > li > a {
    font-size: 1.2em;
    padding: 10px 20px;
    position: relative;
}

.mobile-navigation > ul > li.current-menu-item > a,
.mobile-navigation > ul > li.active > a,
.mobile-navigation > ul > li:hover > a {
    color: #fd423f;
}

.mobile-navigation ul li.menu-item-has-children > a:after {
    content: "\e814";
    font-family: 'icon-font';
    font-size: 0.7em;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.mobile-navigation .sub-nav {
    display: none;
    padding: 0px 0 0px;
    margin: 0 0 0 20px;
}

.mobile-navigation .sub-nav ul {}

.mobile-navigation .sub-nav ul li {
}

.mobile-navigation .sub-nav ul li:not(:last-of-type) {
    border-bottom: 1px solid #eaeaea;
}

.mobile-navigation .sub-nav ul li a {
    padding: 10px 0;
    position: relative;
}

.mobile-navigation .sub-nav ul li.current-menu-item > a,
.mobile-navigation .sub-nav ul li.active > a,
.mobile-navigation .sub-nav ul li:hover > a {
    color: #fd423f;
}

/*------------------------------------------------------------------
[3 Body ]
*/

/*------------------------------------------------------------------
[3.1 Social link / .social-link ]
*/

.social-link {
    color: #9b9c9e;
}

.mobile-side .social-link {
    padding: 15px 20px;
}

.social-link a {
    margin-right: 25px;
}

.social-link a:hover {
    color: #3c3d41;
}

.social-link a i {}

/*------------------------------------------------------------------
[3.2 Contact item / .contact-item ]
*/

.contact-item {
    color: #9b9c9e;
    font-weight: 500;
}

.contact-item:not(:last-of-type) {
    margin-right: 45px;
}

.contact-item i {
    color: #fd423f;
    margin-right: 5px;
    font-size: 1.1em;
}

.contact-item span {}

/*------------------------------------------------------------------
[3.3 Full screen / .full-screen ]
*/

.full-screen {}

.full-screen .container {
    padding: 0;
    float: none;
    display: inline-block;
}

.full-screen .h1 {}

.full-screen p {
    font-size: 1.286em;
    font-weight: 500;
    margin: 15px 0;
    font-style: italic;
}

.full-screen .button-style1:not(:last-of-type) {
    margin-right: 15px;
}

/*------------------------------------------------------------------
[3.4 Category item / .category-item  ]
*/

.category-item {
    overflow: hidden;
    border-radius: 3px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto 30px;
    position: relative;
    text-align: center;
    max-width: 480px;
}

.category-item .centered-container {
    width: 100%;
}

.category-item:after {
    content: "";
    display: block;
    padding-bottom: 92%;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
    background: rgba(0, 0, 0, 0.10);
}

.category-item:hover:after {
    background: rgba(0, 0, 0, 0.4);
}

.category-item a {}

/*------------------------------------------------------------------
[3.5 Team item / .team-carousel ]
*/

.team-carousel {
    margin-bottom: 80px;
}

.team-carousel .owl-prev,
.testimonials-slider .owl-prev {
    left: -90px;
}

.team-carousel .owl-next,
.testimonials-slider .owl-next {
    right: -90px;
}

.team-carousel .owl-dots,
.testimonials-slider .owl-dots {
    bottom: -40px;
}

.team-item {
    background: #f5f5f5;
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding-bottom: 25px;
    margin: 0 auto 30px;
    max-width: 370px;
}

.team-carousel .team-item {
    margin: 0 auto;
}

.team-item .image {}

.team-item .image img {
    vertical-align: bottom;
    max-width: 100%;
}

.team-item .name {
    background: #fd423f;
    height: 75px;
    width: 680px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.team-item .name h4 {
    margin: 0 0 5px;
}

.team-item .name span {
    text-transform: uppercase;
    font-size: 0.857em;
}

.team-item .timetable {
    color: #302d2a;
    font-weight: 500;
    padding: 0 12.2%;
    text-align: left;
    margin: 15px 0;
}

.team-item  .timetable .item {
    overflow: hidden;
    padding: 9px 0;
}

.team-item  .timetable .item:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.team-item  .timetable .item .label {
    float: left;
    width: 50%;
}

.team-item  .timetable .item .value {
    float: right;
}

.team-item .button-style2 {}

/*------------------------------------------------------------------
[3.6 Icon box / .icon-box-item ]
*/

.icon-box-item {
    margin-bottom: 30px;
}

.icon-box-item .icon {
    float: left;
    color: #fd423f;
    font-size: 45px;
    text-align: right;
    width: 75px;
}

.icon-box-item .text {
    margin-left: 100px;
}

.icon-box-item .h4 {
    margin-bottom: 6px;
}

.icon-box-item p {
    margin: 0;
    font-size: 1.286em;
    font-weight: 300;
    line-height: 1.667em;
}

/*------------------------------------------------------------------
[3.7 Icon box 2 / .icon-box2-item ]
*/

.icon-box2-item {
    text-align: center;
    margin: 30px 0;
}

.icon-box2-item .icon {
    color: #fd423f;
    font-size: 3.571em;
}

.icon-box2-item h4 {
    font-weight: normal;
}

.icon-box2-item span {
    color: #fd423f;
    font-size: 1.286em;
    font-weight: 300;
}

.icon-box2-item .number {
    font-size: 5.143em;
    font-weight: bold;
    line-height: 1em;
}

.icon-box2-item h2 {
    margin: 0;
    font-weight: normal;
}

/*------------------------------------------------------------------
[3.8 Icon box 3 / .icon-box-area ]
*/

.icon-box-area {
    overflow: hidden;
}

.icon-box-col {
    text-align: center;
    padding: 20px 15px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    position: relative;
    margin: 0px -1px -1px 1px;
}

.icon-box-col .icon {
    font-size: 3.571em;
    color: #fd423f;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-box-col:hover .icon {
    /* color: #818181; */
}

.icon-box-col .icon.big {
    font-size: 5.000em;
}

.icon-box-col .h4 {
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-box-col:hover .h4 {
    color: #fd423f;
}

.icon-box-col p {
    font-weight: 300;
    font-size: 1.143em;
    line-height: 1.500em;
    margin: 0.7em 0;
}

.icon-box-col .button-style2 {}

/*------------------------------------------------------------------
[3.9 Blog item / .blog-item ]
*/

.blog-item {
    margin-bottom: 30px;
}

.blog-item.in-row {}

.blog-item > * {
    padding: 0;
}

.blog-item .image {
    margin-bottom: 30px;
}

.blog-item.in-row .image {
    margin-bottom: 0;
}

.blog-item .image img {
    max-width: 100%;
    vertical-align: bottom;
}

.blog-item .post-date {
    margin: 10px 0;
}

.blog-item h4 {
    margin-bottom: 0;
}

.blog-item h4 a {
    text-decoration: none;
}

.blog-item p,.post-content {
    margin: 0;
    line-height: 1.714em;
    font-weight: 300;
}

.blog-item p a, .post-content a {
    color: #fd423f;
    text-decoration: none;
}

.blog-item .button-style2 {
    margin-top: 15px;
}

/*------------------------------------------------------------------
[3.10 Testimonials item / .testimonials-item  ]
*/

.testimonials-slider {
    margin: 40px 0;
}

.testimonials-item {
    position: relative;
    margin: 0 auto;
    max-width: 970px;
    overflow: hidden;
}

.testimonials-item .image {
    position: absolute;
    top: 0;
    bottom: 0;
}

.testimonials-item .image div {
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50%;
}

.testimonials-item .text {
    max-width: 640px;
}

.testimonials-item .text > div,
.desc-block {
    background: #fff;
    padding-bottom: 50px;
}

.testimonials-item .text .top,
.desc-block .top {
    background: #fd423f;
    text-align: center;
    color: #fff;
    padding: 35px 0;
    height: 120px;
    display: table-cell;
    width: 780px;
}

.testimonials-item .text .top .h4,
.desc-block .top .h4 {
    margin-bottom: 5px;
}

.testimonials-item .text .top span {}

.testimonials-item .text .h5, .desc-block .h5 {
    text-transform: uppercase;
    max-width: 350px;
    margin: 55px auto 20px;
    padding: 0 20px;
    /* font-weight: normal; */
}

.testimonials-item .text .blockquote,
.desc-block .blockquote {
    max-width: 380px;
    margin: 0 auto 30px;
    width: 90%;
}

.testimonials-item .text .button-style2 {}

/*------------------------------------------------------------------
[3.11 Gallery item / .gallery-item ]
*/

.gallery-item {
    background-position: 50%;
    background-size: cover;
    height: 270px;
    position: relative;
}

.gallery-item img {
    vertical-align: bottom;
    margin-bottom: 30px;
}

.gallery-masonry {
    height: 800px;
}

.gallery-masonry .gallery-item {
    height: auto;
}

.gallery-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: #fff;
    padding: 20px 25px;
}

.gallery-masonry .gallery-item a {
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 30px;
    height: auto;
    width: auto;
}

.gallery-item:hover a {
    background: rgba(0, 0, 0, 0.5);
}

.gallery-item a * {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.gallery-item:hover a * {
    opacity: 1;
    visibility: visible;
}

.gallery-item a span {
    display: block;
}

.gallery-item a span:not(.h4) {
    font-style: italic;
}

.gallery-item a span.h2 {
    margin-bottom: 20px;
}

/*------------------------------------------------------------------
[3.12 Pagination / .pagination ]
*/

.pagination {
    overflow: hidden;
    margin: 30px 0 40px;
    color: #000;
}

.pagination a {
    text-decoration: none;
    float: left;
    padding: 0px 3px 0px;
    border: 1px solid #dddddd;
    margin-right: -1px;
    min-width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    color: inherit;
}

.pagination a.active,.pagination a:hover {
    background: #fd423f;
    color: #fff;
}

.pagination a.active {
    pointer-events: none;
}

.pagination i {
    font-size: 0.7em;
    display: inline-block;
    vertical-align: top;
}

/*------------------------------------------------------------------
[3.13 Contact col / .contact-col ]
*/

.contact-col {
    text-align: center;
    min-height: 150px;
    padding: 20px 15px;
}

.contact-col:not(:last-of-type) {
    border-right: 1px solid #dddddd;
}

.contact-col .cell {}

.contact-col .icon {
    font-size: 3.214em;
    color: #fd423f;
}

.contact-col p {
    font-size: 1.286em;
    line-height: 1.333em;
    margin: 10px 0 0;
}

.contact-col a {
    text-decoration: none;
}

/*------------------------------------------------------------------
[3.14 Working hours / .day-item ]
*/

.day-item {
    text-align: center;
}

.day-item:nth-child(odd) {
    margin-top: 5.7em;
}

.day-item:nth-child(even) {
    margin-bottom: 80px;
}

.day-item.closed {}

.day-item .circle {
    margin: 0 auto;
    max-width: 125px;
    font-size: 2.571em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fd423f;
    border: 1px solid #fd423f;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.day-item:not(.closed):hover .circle {
    background: rgba(35,171,225,0.5);
    color: #fff;
}

.day-item.closed .circle {
    color: #fff;
    background: #fd423f;
}

.day-item .circle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    margin: -3px 0 -3px -33px;
    background: url(../images/day-decor.png) no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 65px;
}

.day-item.style1 .circle:before {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}

.day-item.style2 .circle:before {
    transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
}

.day-item.style3 .circle:before {
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
}

.day-item.style4 .circle:before {
    transform: rotate(165deg);
    -webkit-transform: rotate(165deg);
}

.day-item.style5 .circle:before {
    transform: rotate(215deg);
    -webkit-transform: rotate(215deg);
}

.day-item.style6 .circle:before {
    transform: rotate(285deg);
    -webkit-transform: rotate(285deg);
}

.day-item.style7 .circle:before {
    transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
}

.day-item .cell {
    width: 123px;
    height: 123px;
    position: relative;
    z-index: 1;
}

.day-item .cell span {}

.day-item p {
    font-size: 1.286em;
    margin: 15px -35px 0;
    text-transform: uppercase;
}

/*------------------------------------------------------------------
[3.15 Feedback form / .form ]
*/

.form {}

.form input,
.form textarea,
.form select {
    width: 100%;
    margin-bottom: 30px;
}

.form textarea {
    height: 175px;
    resize: none;
}

/*------------------------------------------------------------------
[3.16 Price item / .price-item ]
*/

.price-item {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto 30px;
    max-width: 480px;
}

.price-item:after {
    content: "";
    display: block;
    margin-bottom: 95%;
}

.price-item > div {
    position: absolute;
    max-width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 0 0 35px;
}

.price-item h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.price-item p {
    font-size: 1.286em;
    line-height: 1.667em;
    font-weight: 300;
}

.price-item .price {
    font-size: 3.429em;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.price-item .price span {
    font-weight: 300;
    font-size: 0.375em;
    display: block;
    line-height: 1em;
    margin-bottom: -0.2em;
    text-transform: uppercase;
}

/*------------------------------------------------------------------
[3.17 Table price / .price-table ]
*/

.price-table {
    border: 1px solid #dddddd;
}

.price-table .fw-row {
    margin: 0;
    padding: 22px 25px;
}

.price-table .fw-row:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
}

.price-table .t-head {
    background: #f6f6f6;
    margin: 0;
    padding: 15px 25px;
}

.price-table .h1,
.price-table .h2,
.price-table .h3,
.price-table .h4,
.price-table .h5,
.price-table .h6 {
    margin-bottom: 0;
}

/*------------------------------------------------------------------
[3.18 Doctor info / .doctor-col ]
*/

.doctor-col {
    text-align: center;
}

.doctor-col > .cell {
    height: inherit;
    width: 800px;
}

.doctor-col img {
    vertical-align: bottom;
}

/*------------------------------------------------------------------
[3.19 Comment item / .comment-item ]
*/

.comment-item {
    margin-bottom: 30px;
}

.comment-item .image {
    float: left;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-item .image img {
    vertical-align: middle;
    max-width: 100%;
}

.comment-item .text {
    margin-left: 130px;
}

/*------------------------------------------------------------------
[3.20 404 page / .image-404 ]
*/

.image-404 {
    max-width: 920px;
    display: block;
    margin: 0 auto;
    width: 70%;
}

@media (max-height: 950px) {
   .image-404 {
        max-width: 540px;
    }
}

/*------------------------------------------------------------------
[4 Footer / .footer ]
*/

.footer {
    background: #f1f1f1;
    padding: 25px 0;
    color: #9b9c9e;
}

.footer h6 {
    margin: 0 0 10px;
    color: #4b5255;
}

.footer-logo {

}

.footer-logo img {
    max-width: 100%;
}

.footer-text {
    font-weight: 500;
    font-size: 0.857em;
    line-height: 1.500em;
    padding-right: 4%;
}

.footer-copy {
    font-size: 0.857em;
    color: #3c3d41;
}

.footer [class^="fw-col-"]:not(:last-of-type) {
    /* border-right: 1px solid #dddddd; */
}

/*------------------------------------------------------------------
[4.1 Footer menu / .footer-menu ]
*/

.footer-menu {
    margin: 0 0 0 0;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    width: 49%;
}

.footer-menu li:before {
    content: "\e843";
    position: absolute;
    font-family: "icon-font";
    font-size: 10px;
    left: 0;
    top: 3px;
}

.footer-menu li:not(:last-of-type) {
    margin-bottom: 5px;
}

.footer-menu li a {
    text-decoration: none;
}
.footer-menu li a:hover {
    color:#2e2e2e;
}
.footer .contact-item {
    display: block;
    margin: 0 0 0;
}

.footer .contact-item:not(:last-of-type) {
    margin-bottom: 10px;
}

.footer .social-link {
    margin-bottom: 15px;
}

/*------------------------------------------------------------------
[4.2 Form subsription / .form-subsription ]
*/

.form-subsription {
    max-width: 500px;
    margin-bottom: 15px;
}

.form-subsription .button-style1 {
    float: right;
    margin: 0;
}

.form-subsription div {
    margin-right: 95px;
}

.form-subsription input.style1 {
    width: 100%;
}

/*------------------------------------------------------------------
[4.3 Form subsription big / .form-subsription-big ]
*/

.form-subsription-big {
    max-width: 570px;
    margin: 0 auto;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #c8c9ca;
}

.form-subsription-big .button-style1 {
    float: right;
    margin: 0;
}

.form-subsription-big > div {
    margin-right: 130px;
}

.form-subsription-big input.style1 {
    border: none;
    color: #000;
    width: 100%;
    padding: 16px 10px;
}
.bottom-strap {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
p {
    text-align: justify;
}
/*Doctor Edit Wizard*/
.form-wizard {
    padding: 25px; 
    background: #fff;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}



/** Form Body Classic **/

.form-body-classic .form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 0px;
    font-family: 'Roboto', FontAwesome;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #333;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.imageuploadify { border-radius: 0px; }
.form-body-classic .form-control:focus {
    outline: 0;
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #eee;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-classic.form-wizard .btn {
    min-width: 105px;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Classic **/



/** Form Body Stylist **/

.form-body-stylist .form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top, #e1e1e1 0%, #f1f1f1 50%, #e1e1e1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e1e1e1 0%,#f1f1f1 50%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e1e1e1 0%,#f1f1f1 50%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ddd;
    font-family: 'Roboto', FontAwesome;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-stylist .form-control:focus {
    outline: 0;
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top, #e1e1e1 0%, #f1f1f1 50%, #e1e1e1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e1e1e1 0%,#f1f1f1 50%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e1e1e1 0%,#f1f1f1 50%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-stylist.form-wizard .btn {
    margin: 0;
    padding: 3px 15px;
    border: 2px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 25px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Stylist **/



/** Form Body Material **/

.form-body-material .form-control {
    height: 44px;
    margin: 0;
    padding: 0 20px;
    background: #f8f8f8 none repeat scroll 0 0;
    border: 0px;
    border-bottom: 2px solid #ddd;
    font-family: 'Roboto', FontAwesome;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-material .form-control:focus {
    outline: 0;
    background: #f8f8f8 none repeat scroll 0 0;
    border: 0px;
    border-bottom: 2px solid #fd423f;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-material.form-wizard .btn {
    min-width: 105px;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    border: 2px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Material **/




/** Form header Classic **/

.form-header-classic .form-wizard-step-icon {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    margin-top: 4px; 
    background: #ddd;
    font-size: 16px; 
    color: #fff; 
    line-height: 40px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    font-weight: 200;
}
.form-header-classic .form-wizard-step.activated .form-wizard-step-icon {
    background: #fff; 
    border: 1px solid #999; 
    color: #999; 
    line-height: 38px;
}
.form-header-classic .form-wizard-step.active .form-wizard-step-icon {
    width: 48px; 
    height: 48px; 
    margin-top: 0; 
    background: #999; 
    font-size: 22px; 
    line-height: 48px;
    font-weight: 500;
}

.form-header-classic .form-wizard-step p { color: #ccc; font-weight: 200; }
.form-header-classic .form-wizard-step.activated p { color: #999; }
.form-header-classic .form-wizard-step.active p { color: #999; font-weight: 500; }

/** Form header Classic **/



/** Form header Modarn **/

.form-header-modarn .form-wizard-step{
    padding-top:10px !important;
    border:2px solid #fff;
    background:#ccc;
}
.form-header-modarn .form-wizard-step.active{
    background:#fd423f;
}
.form-header-modarn .form-wizard-step.activated{
    background:#fd423f;
}
.form-header-modarn .form-wizard-progress { 
    height: 0px; 
    display:none;
}
.form-header-modarn .form-wizard-step-icon {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    margin-top: 4px; 
    background: #ddd;
    font-size: 16px; 
    color: #777; 
    line-height: 40px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.form-header-modarn .form-wizard-step.activated .form-wizard-step-icon {
    background: #fd423f; 
    border: 1px solid #fff; 
    color: #fff; 
    line-height: 38px;
}
.form-header-modarn .form-wizard-step.active .form-wizard-step-icon {
    background: #fff; 
    border: 1px solid #fff; 
    color: #fd423f; 
    line-height: 38px;
}

.form-header-modarn .form-wizard-step p { color: #fff; }
.form-header-modarn .form-wizard-step.activated p { color: #fff; }
.form-header-modarn .form-wizard-step.active p { color: #fff; }

/** Form header Modarn **/



/** Form header Stylist **/

.form-header-stylist .form-wizard-step{
    position:relative;
    padding-top:10px !important;
    border:0px solid #fff;
    background:#ccc;
}
.form-header-stylist .form-wizard-step::before {
    content: '';
    position: absolute;
    left: 0%;
    top: -2%;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid #ccc;
    clear: both;
    z-index: 999;
}
.form-header-stylist .form-wizard-step.active::after {
    content: '';
    position: absolute;
    right: -20px;
    top: -2%;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid #fd423f;
    clear: both;
    z-index: 9999;
}
.form-header-stylist .form-wizard-step.activated::after {
    content: '';
    position: absolute;
    right: -20px;
    top: -2%;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid #fd423f;
    clear: both;
    z-index: 9999;
}
.form-header-stylist .form-wizard-step.active{
    background:#fd423f;
}
.form-header-stylist .form-wizard-step.activated{
    background:#fd423f;
}
.form-header-stylist .form-wizard-progress { 
    height: 0px; 
    display:none;
}
.form-header-stylist .form-wizard-step-icon {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    margin-top: 4px; 
    background: #ddd;
    font-size: 16px; 
    color: #777; 
    line-height: 40px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.form-header-stylist .form-wizard-step.activated .form-wizard-step-icon {
    background: #fd423f; 
    border: 1px solid #fff; 
    color: #fff; 
    line-height: 38px;
}
.form-header-stylist .form-wizard-step.active .form-wizard-step-icon {
    background: #fff; 
    border: 1px solid #fff; 
    color: #fd423f; 
    line-height: 38px;
}

.form-header-stylist .form-wizard-step p { color: #fff; }
.form-header-stylist .form-wizard-step.activated p { color: #fff; }
.form-header-stylist .form-wizard-step.active p { color: #fff; }

/** Form header Stylist **/




    
.form-wizard strong { font-weight: 500; }

.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
    color: #fd423f;
    text-decoration: none;
}

.form-wizard h1, .form-wizard h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.form-wizard h3 {
    font-size: 25px;
    font-weight: 300;
    color: #fd423f;
    line-height: 30px;
    margin-top: 0; 
    margin-bottom: 5px; 
    text-transform: uppercase; 
}

.form-wizard h4 {
    float:left;
    font-size: 20px;
    font-weight: 400;
    color: #4b5255;
    line-height: 26px;
    width:100%;
}
.form-wizard h4  span{
    float:right;
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

.form-wizard table tr th{font-weight:normal;}

.form-wizard img { max-width: 100%; }

.form-wizard ::-moz-selection { background: #fd423f; color: #fff; text-shadow: none; }
.form-wizard ::selection { background: #fd423f; color: #fff; text-shadow: none; }

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    position: absolute;
    margin-top: 9px;
    margin-left: -20px;
}

.form-control option:hover, .form-control option:checked  {
    box-shadow: 0 0 10px 100px #fd423f inset;
}

.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-group label { font-weight: 300; }
.form-wizard label span { color:#e53935; }

.form-wizard .btn:hover {
    background:#fd423f; 
    color: #fff !important; 
    }
.form-wizard .btn:active { 
    outline: 0; 
    background:#fd423f; 
    color: #fff; 
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    }
.form-wizard .btn:focus,
.form-wizard .btn:active:focus,
.form-wizard .btn.active:focus { 
    outline: 0; 
    background:#fd423f; 
    color: #fff; 
}

.form-wizard .btn.btn-next,
.form-wizard .btn.btn-next:focus,
.form-wizard .btn.btn-next:active:focus, 
.form-wizard .btn.btn-next.active:focus { 
background: #fd423f; 
}

.form-wizard .btn.btn-submit,
.form-wizard .btn.btn-submit:focus,
.form-wizard .btn.btn-submit:active:focus, 
.form-wizard .btn.btn-submit.active:focus { 
background: #fd423f; 
}

.form-wizard .btn.btn-previous,
.form-wizard .btn.btn-previous:focus,
.form-wizard .btn.btn-previous:active:focus, 
.form-wizard .btn.btn-previous.active:focus { 
background: #bbb;
}

.form-wizard .success h3{
    color: #fd423f;
    text-align: center;
    margin: 20px auto !important;
}
.form-wizard .success .success-icon {
    color: #fd423f;
    font-size: 100px;
    border: 5px solid #fd423f;
    border-radius: 100px;
    text-align: center !important;
    width: 110px;
    margin: 25px auto;
}
.form-wizard .progress-bar {
    background-color: #999;
}

.form-wizard-steps{ 
    margin:auto; 
    overflow: hidden; 
    position: relative; 
}

.form-wizard-progress { 
    position: absolute; 
    top: 24px; 
    left: 0; 
    width: 100%; 
    height: 1px; 
    background: #ddd;
}
.form-wizard-progress-line { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 1px; 
    background: #999; 
}

.form-wizard-tolal-steps-3 .form-wizard-step { 
    position: relative;
    float: left; 
    width: 33.33%; 
    padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
    position: relative; 
    float: left; 
    width: 25%; 
    padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
    position: relative;
    float: left;
    width: 20%;
    padding: 0 5px;
}

.form-wizard fieldset { 
    display: none; 
    text-align: left; 
    border:0px !important
}

.form-wizard-buttons {
    text-align: right;
    margin-top: 30px;
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.form-wizard .input-error { border-color: #e53935;}

/** image uploader **/
.image-upload a[data-action] {
  cursor: pointer;
  color: #555;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.2s;
}
.image-upload a[data-action] i {
  width: 1.25em;
  text-align: center;
}
.image-upload a[data-action]:hover {
  color: #fd423f;
}
.image-upload a[data-action].disabled {
  opacity: 0.35;
  cursor: default;
}
.image-upload a[data-action].disabled:hover {
  color: #555;
}
.settings_wrap{
    margin-top:20px;
}
.image_picker .settings_wrap {
  overflow: hidden;
  position: relative;
}
.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
  float: left;
}
.image_picker .settings_wrap .drop_target {
  margin-right: 18px;
}
.image_picker .settings_wrap .settings_actions {
    float: left;
    margin-top: 100px;
    margin-left: 20px;
}
.settings_actions.vertical a {
  display: block;
}
.drop_target {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    width: 250px;
    height: 250px;
    background: #f2f2f2;
    border-radius: 100%;
    margin: 0 auto 25px auto;
    overflow: hidden;
    border: 8px solid #E0E0E0;
}
.drop_target input[type="file"] {
  visibility: hidden;
}
.drop_target::before {
    content: 'Drop Hear';
    font-family: FontAwesome;
    position: absolute;
    display: block;
    width: 100%;
    line-height: 220px;
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s;
}
.drop_target:hover,
.drop_target.dropping {
  background: #f80;
  border-top-color: #cc6d00;
}
.drop_target:hover:before,
.drop_target.dropping:before {
  color: rgba(0, 0, 0, 0.6);
}
.drop_target .image_preview {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 2;
}

.form-box h6 { color: #f1f1f1; font-weight: 200; text-align: center; margin: 0 0 40px 0; font-size:20px;  }
.form-box h6 strong { font-weight: 400; }
.form-group label { display: block; }
.form-body-classic textarea.form-control { min-height: 130px; }
.form-body-classic .form-control:focus { border-color: #2e2e2e; }
.form-body-classic .form-group:focus~label { color: #fd423f; }
.btn-toggle .addiction { display: none; }
.form-group { display: table; width: 100%; }
.form-group label { display: table-header-group; }
.form-group .form-control { display: table-row-group; }
.form-body-classic .form-control:focus + label { color: #2e2e2e; }
.patient-addictions .form-group .form-control { display: none; }
.patient-addictions .form-group .btn-toggle:focus + .form-control { display: block; margin-top: 10px; }
.modal-title {
     font-weight: 200;
}
.form-wizard-step p {
    text-align: center;
}
.form-wizard a.btn.red {
    color: #ef4836;
}
.form-wizard a.btn.red:hover, .form-wizard a.btn.red:active, .form-wizard a.btn.red:focus { color: #fff; background:#ef4836; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { vertical-align: middle !important; }
@media (min-width: 768px) {
.modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
}
section.form-box {
    margin-top: 70px;
}


.inline-btn {
    background: #999;
    margin-top: 30px !important;
}
.tnc {
    text-align: left;
    float: left;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  position: relative;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  border: solid 2px #555;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
  margin: 7px 0 0;
}
.option-input:checked {
  background: #555;
}
.option-input:checked::before {
    height: 18px;
    width: 18px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    left: -2px;
    top: -2px;
    font-weight: normal;
}
.option-input:checked::after {
  background: #555;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.form-wizard .tnc label span {
    margin-left: 10px;
    margin-top: 0;
    display: inline-block;
    float: right;
    font-weight: 400;
    color: #5e5e5e;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: inherit;
    outline-offset: 0;
}
input[type=checkbox]{
    margin: 5px 0 0;
}
p, li{
    line-height: 24px;
}