@font-face {
  font-family: 'icon-font';
  src: url('../fonts/icon-font4774.eot?99499834');
  src: url('../fonts/icon-font4774.eot?99499834#iefix') format('embedded-opentype'),
       url('../fonts/icon-font4774.html?99499834') format('woff2'),
       url('../fonts/icon-font4774.woff?99499834') format('woff'),
       url('../fonts/icon-font4774.ttf?99499834') format('truetype'),
       url('../fonts/icon-font4774.svg?99499834#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'social-icons';
    src: url('../font/social-icons.svg?99499834#social-icons') format('svg');
  }
}
*/
 
.icon-font:before {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-add:before { content: '\e800'; } /* '' */
.icon-bag:before { content: '\e801'; } /* '' */
.icon-battery:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-bluetooth:before { content: '\e804'; } /* '' */
.icon-bookmark:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-cancel-1:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-clip:before { content: '\e80a'; } /* '' */
.icon-clock-1:before { content: '\e80b'; } /* '' */
.icon-clock:before { content: '\e80c'; } /* '' */
.icon-cloud:before { content: '\e80d'; } /* '' */
.icon-correct:before { content: '\e80e'; } /* '' */
.icon-credit-card:before { content: '\e80f'; } /* '' */
.icon-cursor-1:before { content: '\e810'; } /* '' */
.icon-cursor:before { content: '\e811'; } /* '' */
.icon-cut:before { content: '\e812'; } /* '' */
.icon-cutlery:before { content: '\e813'; } /* '' */
.icon-down-arrow:before { content: '\e814'; } /* '' */
.icon-download:before { content: '\e815'; } /* '' */
.icon-edit:before { content: '\e816'; } /* '' */
.icon-envelope:before { content: '\e817'; } /* '' */
.icon-export:before { content: '\e818'; } /* '' */
.icon-favorite:before { content: '\e819'; } /* '' */
.icon-file:before { content: '\e81a'; } /* '' */
.icon-folder:before { content: '\e81b'; } /* '' */
.icon-forward:before { content: '\e81c'; } /* '' */
.icon-gallery:before { content: '\e81d'; } /* '' */
.icon-gamepad:before { content: '\e81e'; } /* '' */
.icon-garbage:before { content: '\e81f'; } /* '' */
.icon-headphones:before { content: '\e820'; } /* '' */
.icon-heart:before { content: '\e821'; } /* '' */
.icon-help:before { content: '\e822'; } /* '' */
.icon-home:before { content: '\e823'; } /* '' */
.icon-hourglass:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-layer:before { content: '\e826'; } /* '' */
.icon-layout:before { content: '\e827'; } /* '' */
.icon-left-arrow-1:before { content: '\e828'; } /* '' */
.icon-left-arrow:before { content: '\e829'; } /* '' */
.icon-lightning:before { content: '\e82a'; } /* '' */
.icon-link:before { content: '\e82b'; } /* '' */
.icon-logout:before { content: '\e82c'; } /* '' */
.icon-magnet:before { content: '\e82d'; } /* '' */
.icon-map:before { content: '\e82e'; } /* '' */
.icon-menu:before { content: '\e82f'; } /* '' */
.icon-monitor:before { content: '\e830'; } /* '' */
.icon-moon:before { content: '\e831'; } /* '' */
.icon-padnote:before { content: '\e832'; } /* '' */
.icon-paint:before { content: '\e833'; } /* '' */
.icon-pause:before { content: '\e834'; } /* '' */
.icon-photo-camera:before { content: '\e835'; } /* '' */
.icon-placeholder:before { content: '\e836'; } /* '' */
.icon-play-button:before { content: '\e837'; } /* '' */
.icon-power:before { content: '\e838'; } /* '' */
.icon-presentation:before { content: '\e839'; } /* '' */
.icon-printer:before { content: '\e83a'; } /* '' */
.icon-profile:before { content: '\e83b'; } /* '' */
.icon-prohibition:before { content: '\e83c'; } /* '' */
.icon-push-pin:before { content: '\e83d'; } /* '' */
.icon-puzzle:before { content: '\e83e'; } /* '' */
.icon-refresh:before { content: '\e83f'; } /* '' */
.icon-remove:before { content: '\e840'; } /* '' */
.icon-rewind:before { content: '\e841'; } /* '' */
.icon-right-arrow-1:before { content: '\e842'; } /* '' */
.icon-right-arrow:before { content: '\e843'; } /* '' */
.icon-rocket-launch:before { content: '\e844'; } /* '' */
.icon-screen:before { content: '\e845'; } /* '' */
.icon-search:before { content: '\e846'; } /* '' */
.icon-settings-1:before { content: '\e847'; } /* '' */
.icon-settings-2:before { content: '\e848'; } /* '' */
.icon-settings:before { content: '\e849'; } /* '' */
.icon-share:before { content: '\e84a'; } /* '' */
.icon-shield:before { content: '\e84b'; } /* '' */
.icon-shopping-cart:before { content: '\e84c'; } /* '' */
.icon-shutter:before { content: '\e84d'; } /* '' */
.icon-smartphone:before { content: '\e84e'; } /* '' */
.icon-speech-bubble:before { content: '\e84f'; } /* '' */
.icon-speedometer:before { content: '\e850'; } /* '' */
.icon-stats:before { content: '\e851'; } /* '' */
.icon-store:before { content: '\e852'; } /* '' */
.icon-sun:before { content: '\e853'; } /* '' */
.icon-switch:before { content: '\e854'; } /* '' */
.icon-tag:before { content: '\e855'; } /* '' */
.icon-target:before { content: '\e856'; } /* '' */
.icon-timer:before { content: '\e857'; } /* '' */
.icon-unlock:before { content: '\e858'; } /* '' */
.icon-up-arrow:before { content: '\e859'; } /* '' */
.icon-upload:before { content: '\e85a'; } /* '' */
.icon-video-camera:before { content: '\e85b'; } /* '' */
.icon-video:before { content: '\e85c'; } /* '' */
.icon-visible:before { content: '\e85d'; } /* '' */
.icon-voice-recorder:before { content: '\e85e'; } /* '' */
.icon-volume:before { content: '\e85f'; } /* '' */
.icon-waiting:before { content: '\e860'; } /* '' */
.icon-wifi:before { content: '\e861'; } /* '' */
.icon-zoom-out:before { content: '\e862'; } /* '' */
.icon-zoom:before { content: '\e863'; } /* '' */
.icon-clock-2:before { content: '\e864'; } /* '' */
.icon-placeholder-1:before { content: '\e865'; } /* '' */
.icon-right-quote-sign:before { content: '\e866'; } /* '' */
.icon-telephone-1:before { content: '\e867'; } /* '' */